/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark background for the entire page */
    color: #f0f0f0; /* Light text color for contrast */
}

header {
    background-color: #1a1a1a; /* Darker background for the header */
    color: white;
    padding: 0; /* Remove padding to make the nav bars touch edges */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Main navigation bar styles */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2a2a;
    padding-left: 20px;
    font-size: 22px;
    line-height: 60px;
    height: 60px;
}

.nav-left {
    display: flex;
    gap: 10px;
}

.nav-left a {
    color: white;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 22px;
    line-height: 10px;
}

.nav-left a:hover {
    background-color: #444;
    border-radius: 5px;
}

.nav-right {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.nav-logo {
    height: 40px;
    padding: 5px;
}

/* Secondary navigation bar styles */
.section-nav {
    display: flex;
    align-items: center;
    background-color: #1b1b1b;
    padding-left: 25px;
    font-size: 18px;
    line-height: 45px;
    height: 45px;
}

.section-nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 15px;
}

.section-nav a:hover {
    background-color: #333;
    border-radius: 5px;
}

/* Main content styles */
main {
    margin-top: 140px;
    padding: 20px;
}

section {
    background-color: #1a1a1a;
    color: #f0f0f0;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #333;
    font-size: 18px;
    line-height: 1.6;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #1a1a1a;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}