<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        {{ page.title }}
    </title>
</head>

<body>
    <header>
        <nav>
            <a href="{{ '/' | relative_url }}">Home</a>         <!-- Create a link to the home page -->
            <a href="{{ '/news' | relative_url }}">News</a>     <!-- Create a link to the news page -->
        </nav>
    </header>

    <hr>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>© {{ site.time | date: "%Y" }} The Carbon Team </p>
    </footer>
</body>

</html>